## Yandex Contest

____

## Школа аналитиков-разработчиков 2024. Отборочный контест

____

### A. Перекладывание джейсона 
Ограничение времени 	1 секунда
Ограничение памяти 	64.0 Мб
Ввод 	стандартный ввод
Вывод 	стандартный вывод

Науку о данных часто называют "the sexiest job of the 21st century", возможно, из-за того, что аналитики-разработчики довольно часто преобразуют данные из одного формата в другой. Одним из современных удобных форматов хранения структурированных данных является JSON, поэтому такую деятельность иногда неформально называют перекладыванием джейсонов.

Напишите программу на языке Python, выполняющую необходимые преобразования данных и формирующую файл output.json в соответствии со спецификацией, описанной в формате ввода и вывода.
Формат ввода

В первой строке вводится имя файла json со словарем преобразований, для определенности назовем его <input.json>. В каждой последующей строке вводятся фразы, записанные через символ нижнего подчеркивания.

Ключами словаря, записанного в файле <input.json>, являются номера вводимых строк, а значениями — следующие типы преобразований:

    10 – из фраз, записанных в данной строке, необходимо выбрать только те, у которых не менее двух различных гласных;
    20 – выбрать фразы с четной длиной;
    30 – не применять фильтрацию (выбирать все).

**Формат вывода**

Результат преобразования записать в файл output.json в виде словаря: ключи — номера строк, значения — списки отобранных фраз в обратном алфавитном порядке.

**Пример 1**
Ввод
Вывод

# Содержимое stdin:
sample_1.json
deck_mast_port side
windlass_hold_hole
deckhouse_stern_crossbar sail
foresail
# Содержимое файла sample_1.json:
{
 "1": "10",
 "2": "20",
 "3": "30",
 "4": "20"
}

	

# Содержимое файла output.json:
{
    "1": [
        "port side"
    ],
    "2": [
        "windlass",
        "hole",
        "hold"
    ],
    "3": [
        "stern",
        "deckhouse",
        "crossbar sail"
    ],
    "4": [
        "foresail"
    ]
}

**Пример 2**
Ввод
Вывод

# Содержимое stdin:
sample_2.json
starboard_sloop
keel_anchor_deck_cockpit top
mast
# Содержимое файла sample_2.json:
{
 "1": "30",
 "2": "10",
 "3": "10"
}

	

# Содержимое файла output.json:
{
    "1": [
        "starboard",
        "sloop"
    ],
    "2": [
        "cockpit top",
        "anchor"
    ],
    "3": []
}

**Примечания**

Входные файлы из примеров можно скачать здесь:

    sample_1.json
    sample_2.json

В данной задаче гласные – это символы aeuioy.

Строки в примерах, начинающиеся с символа # — это комментарии; данные строки не должны учитываться во вводимых и выводимых данных.

При написании программы строго следуйте формату ввода и вывода.

In [21]:
import json

words = [0]
vowels = 'aeuioy'

# line = input()
filename = input()

# break_reading_data = False
# while (not break_reading_data):
#     line = input()
#     if line[0] == '#':
#         break_reading_data = True
#         break
#     words.append(line.split('_'))

with open('yandex contest/' + filename) as json_file:
# with open(filename) as json_file:
    data = json.load(json_file)

num_of_lines = len(data)

for i in range(num_of_lines):
    line = input()
    words.append(line.split('_'))

output_dict = {}

for key in data.keys():
    output_dict[key] = []
    
    if data[key] == '10':
        for word in words[int(key)]:
            dif_vowel_count = 0
            for i in vowels:
                if i in word:
                    dif_vowel_count += 1
            if dif_vowel_count > 1:
                if output_dict[key] != []:
                    output_dict[key].append(word)
                else:
                    output_dict[key] = [word]
                    
    elif data[key] == '20':
        for word in words[int(key)]:
            is_even = (len(word) % 2 == 0)
            if is_even:
                if output_dict[key] != []:
                    output_dict[key].append(word)
                else:
                    output_dict[key] = [word]
                    
    elif data[key] == '30':
        output_dict[key] = words[int(key)]

    output_dict[key].sort(reverse=True)
 
# print(data)
# print(output_dict)

with open("output.json", "w") as outfile: 
    json.dump(output_dict, outfile, indent=4, sort_keys=True)

 sample_2.json
 starboard_sloop
 keel_anchor_deck_cockpit top
 mast

# Содержимое stdin:
sample_2.json
starboard_sloop
keel_anchor_deck_cockpit top
mast
# Содержимое файла sample_2.json:
{
 "1": "30",
 "2": "10",
 "3": "10"
}

# Содержимое stdin:
sample_1.json
deck_mast_port side
windlass_hold_hole
deckhouse_stern_crossbar sail
foresail
# Содержимое файла sample_1.json:
{
 "1": "10",
 "2": "20",
 "3": "30",
 "4": "20"
}

### B. Топовые подписчики
Ограничение времени 	30 секунд
Ограничение памяти 	1.5 Гб
Ввод 	стандартный ввод или input.txt
Вывод 	стандартный вывод или output.txt

Вы работаете аналитиком-разработчиком в сервисе с ежедневной индвидуальной подпиской, то есть ее стоимость отличается для каждого пользователя. Пользователи могут оплачивать сервис, в том числе, на несколько дней вперед: некоторые платят каждые 27 дней, некоторые каждый день и т.д. Также не запрещается иметь несколько параллельных подписок, которые также могут различаться в стоимости.

Менеджер продукта вашего сервиса хочет сделать уникальное предложение тем, кто больше всех вкладывается в продукт деньгами. В ходе формализации задачи вы договорились посчитать финансовый вклад — сумму денег из подписки, которые попадают в выбранный период. Например, если клиент в день TT оформил подписку стоимостью SS долларов на NN дней, то финансовый вклад данной подписки будет составлять S/NS/N долларов в течение всего срока действия данной подписки. Финансовым вкладом пользователя будем считать сумму финансовых вкладов всех действующих подписок данного пользователя.

Вам необходимо найти ТОП-3 пользователей по финансовому вкладу, которые в феврале 2024 года вложили больше всего денег на продукт, и рассчитать их суммарный финансовый вклад за этот период.

Напишите функцию process на языке Python, принимающую на вход объект pandas.DataFrame и возвращающую требуемый результат:


def process(df):
    ...
    return ...

**Формат ввода**

На вход функции process поступает исходный датафрейм, содержащий следующие столбцы данных:

    id — идентификатор подписки;
    user_id — идентификатор пользователя;
    timestamp — дата в формате unix timestamp;
    billing_period — длительность подписки в днях;
    billing_total_price_usd — стоимость подписки в долларах.

**Формат вывода**

Функция process должна вернуть вещественное число — совокупный финансовый вклад ТОП-3 пользователей (см. условие задачи).

**Пример 1**
Ввод
Вывод

id,user_id,timestamp,billing_period,billing_total_price_usd
0,26,1708104067,74,95
1,40,1707585667,25,46
2,48,1704993667,50,99
3,15,1704475267,32,15
4,38,1706030467,84,83

	

121.03

**Пример 2**
Ввод
Вывод

id,user_id,timestamp,billing_period,billing_total_price_usd
23,1,1706555483,6,60

	

30.0

Примечания

Протестировать решение на примерах можно следующим образом:

df = pd.read_csv("sample_1.csv")
print(process(df))

df = pd.read_csv("sample_2.csv")
print(process(df))

Входные файлы из примеров можно скачать здесь:

    sample_1.csv
    sample_2.csv


    id — идентификатор подписки;
    user_id — идентификатор пользователя;
    timestamp — дата в формате unix timestamp;
    billing_period — длительность подписки в днях;
    billing_total_price_usd — стоимость подписки в долларах.

In [22]:
import pandas as pd

In [326]:
# Протестировать решение на примерах можно следующим образом:

# df = pd.read_csv('yandex contest/' + "sample_1.csv")

# print(process(df))

# df

df = pd.read_csv('yandex contest/' + "sample_2.csv")

# print(process(df))
df

   id  user_id   timestamp  billing_period  billing_total_price_usd
0  23        1  1706555483               6                       60

In [336]:
df['end_subsc_date'] = df['timestamp'] + 86400*df['billing_period']
df['usr_daterange'] = 0

mask = df[(df['timestamp'] <= 1709250959) & (df['end_subsc_date'] >=  1706745600)]
df.loc[mask, 'usr_daterange']
#     usr_daterange = pd.date_range(start=df.loc[i,'timestamp'], end=df.loc[i, 'end_subsc_date'], freq='D', normalize=True)
#     user_feb_days = 0
#     for j in feb_24_date_range:
#         if j in usr_daterange:
#             user_feb_days += 1
#     df.at[i,'usr_daterange'] = user_feb_days


# df['lower_bound'] = df['timestamp'] - 1706745600
# df['4'] = df['end_subsc_date'] - 1706745600
# df['upper_bound'] = df['end_subsc_date'] - 1709250959
# df.loc[df['upper_bound'] > 0, 'upper_bound'] = 1709250959
# df.loc[df['lower_bound'] < 0, 'lower_bound'] = 1706745600
# df['usr_daterange'] = df['upper_bound'] - df['lower_bound']
# df['usr_daterange'] = round(df['usr_daterange'] / 86400)
# df['usr_daterange'] = df['usr_daterange'].astype(int)

# df.loc[df['2'] < 0, '3']= 0
# df['4'] = df['2'] - df['3']
# df['5'] = round(df['4'] / 86400)
# df['5'] = df['5'].astype(int)
# df

,id,user_id,timestamp,billing_period,billing_total_price_usd,end_subsc_date,3,4,5,lower_bound,upper_bound,usr_daterange
0,23,1,1706555483,6,60,1707073883,190117,328283,2177076,1706745600,-2177076,0

In [243]:
feb_24_date_range = pd.date_range(start='2024-02-01', end='2024-02-29')
print(feb_24_date_range)

DatetimeIndex(['2024-02-01', '2024-02-02', '2024-02-03', '2024-02-04',
               '2024-02-05', '2024-02-06', '2024-02-07', '2024-02-08',
               '2024-02-09', '2024-02-10', '2024-02-11', '2024-02-12',
               '2024-02-13', '2024-02-14', '2024-02-15', '2024-02-16',
               '2024-02-17', '2024-02-18', '2024-02-19', '2024-02-20',
               '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-24',
               '2024-02-25', '2024-02-26', '2024-02-27', '2024-02-28',
               '2024-02-29'],
              dtype='datetime64[ns]', freq='D')

In [267]:
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s')
# df['timestamp'] = df['timestamp'].dt.round('D')
# df['timestamp'] = df['timestamp'].dt.floor('D')
df['end_subsc_date'] = df['timestamp'] + pd.to_timedelta(df['billing_period']-1, unit='D')
df

,id,user_id,timestamp,billing_period,billing_total_price_usd,end_subsc_date
0,0,26,2024-02-16 17:21:07,74,95,2024-04-29 17:21:07
1,1,40,2024-02-10 17:21:07,25,46,2024-03-05 17:21:07
2,2,48,2024-01-11 17:21:07,50,99,2024-02-29 17:21:07
3,3,15,2024-01-05 17:21:07,32,15,2024-02-05 17:21:07
4,4,38,2024-01-23 17:21:07,84,83,2024-04-15 17:21:07

In [245]:
df['usr_daterange'] = 0

In [291]:
# df['usr_daterange'] = pd.date_range(start=df['timestamp'], end=df['end_subsc_date'])
for i in range(df.shape[0]):
    usr_daterange = pd.date_range(start=df.loc[i,'timestamp'], end=df.loc[i, 'end_subsc_date'], freq='D', normalize=True)
    user_feb_days = 0
    for j in feb_24_date_range:
        if j in usr_daterange:
            user_feb_days += 1
    df.at[i,'usr_daterange'] = user_feb_days

df['doll_per_day'] = df['billing_total_price_usd'] / df['billing_period']

df['user_value_feb'] = df['usr_daterange'] * df['doll_per_day']

df

,id,user_id,timestamp,billing_period,billing_total_price_usd,end_subsc_date,usr_daterange,doll_per_day,user_value_feb
0,0,26,2024-02-16 17:21:07,74,95,2024-04-29 17:21:07,14,1.283784,17.972973
1,1,40,2024-02-10 17:21:07,25,46,2024-03-05 17:21:07,20,1.840000,36.800000
2,2,48,2024-01-11 17:21:07,50,99,2024-02-29 17:21:07,29,1.980000,57.420000
3,3,15,2024-01-05 17:21:07,32,15,2024-02-05 17:21:07,5,0.468750,2.343750
4,4,38,2024-01-23 17:21:07,84,83,2024-04-15 17:21:07,29,0.988095,28.654762

In [292]:
df['end_subsc_date'] - df['timestamp']

0   73 days
1   24 days
2   49 days
3   31 days
4   83 days
dtype: timedelta64[ns]

In [269]:
final_list = df.groupby('user_id').user_value_feb.sum().sort_values(ascending=False)[:3].sum()
final_list

122.8747619047619

In [39]:
df_feb_24 = df[df['timestamp'].dt.month == 2]
df_feb_24
df_feb_24.groupby(['user_id']).

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000029BC24119D0>

In [323]:
def process(df):
    # feb_24_date_range = pd.date_range(start='2024-02-01', end='2024-02-29')
    # df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s')
    df['end_subsc_date'] = df['timestamp'] + pd.to_timedelta(df['billing_period']-1, unit='D')
    # # df['timestamp'] = df['timestamp'] + pd.Timedelta(1, "d")
    # df['usr_daterange'] = 0

    # for i in range(df.shape[0]):
    #     usr_daterange = pd.date_range(start=df.loc[i,'timestamp'], end=df.loc[i, 'end_subsc_date'], freq='D', normalize=True)
    #     user_feb_days = 0
    #     for j in feb_24_date_range:
    #         if j in usr_daterange:
    #             user_feb_days += 1
    #     df.at[i,'usr_daterange'] = user_feb_days

    df['2'] = 1709250959 - df['timestamp']
    df['3'] = 1706745600 - df['timestamp']
    df.loc[df['3'] < 0, '3']= 0
    df.loc[df['2'] < 0, '3']= 0
    df['4'] = df['2'] - df['3']
    df['usr_daterange'] = round(df['4'] / 86400) 
    df['usr_daterange'] = df['usr_daterange'].astype(int)
    df['5'] = df['end_subsc_date'] - 1709250959
    df['6'] = df['end_subsc_date'] - 1706745600 #should be postive
    df.loc[df['5'] < 0, '3']= 0
    df.loc[df['6'] < 0, '3']= 0

    

    df['doll_per_day'] = df['billing_total_price_usd'] / df['billing_period']
    
    df['user_value_feb'] = df['usr_daterange'] * df['doll_per_day']

    final_list = df.groupby('user_id').user_value_feb.sum().sort_values(ascending=False)[:3].sum()
    
    return round(final_list, 2)

In [ ]:

C. Рекламные бюджеты
Ограничение времени 	1 секунда
Ограничение памяти 	256.0 Мб
Ввод 	стандартный ввод или budgets.db
Вывод 	стандартный вывод или output.txt

Для планирования консолидированных рекламных бюджетов аналитику Васе необходимо написать SQL-запрос для расчета сумм платежей, внесенных компаниями в счет самой ранней (по дате создания) и основной рекламных кампаний.

Словарь предметной области:

    Рекламная кампания (РК) — совокупность рекламных услуг, оказываемых Рекламной системой различным Компаниям.
    Пользователь - это физическое лицо либо компания, вносящее оплату за рекламные кампании.

Положения бизнес-логики:

    Самая ранняя РК может также быть основной кампанией, в этом случае она должна учитываться один раз.
    В случае если пользователем было создано несколько РК за один день, следует учитывать только РК, имеющую наибольшее числовое значение идентификатора РК в рамках данного пользователя и рассматриваемого дня.
    Компаниями следует считать пользователей, у которых отсутствует значение в столбце owner_id таблицы users.
    У пользователя может быть указан несуществующий owner_id, что равнозначно отсутствию owner_id.
    В платежах может быть указана отрицательная сумма, например, -100. Это возврат, его в расчетах учитывать не нужно.

Описание базы данных budgets.db:

Таблица payment_date содержит факты оплаты рекламных кампаний:

    id — идентификатор оплаты;
    date — дата платежа;
    user_id — идентификатор пользователя/компании;
    rk_id — идентификатор рекламной компании;
    sum — сумма, внесенная на рекламную компанию.

Таблица advertising_companies содержит информацию о рекламных кампаниях:

    id — идентификатор рекламной кампании (РК);
    create_date — дата создания РК;
    is_main — флаг: основная (1) или нет (0) РК.

Таблица users содержит информацию о пользователях:

    id — идентификатор пользователя;
    city — город;
    create_date — дата регистрации;
    owner_id — идентификатор компании, представителем которой является данный пользователь;
    name — ФИО физического лица, либо название компании.

Пример базы данных budgets.db для отладки решения: https://storage.yandexcloud.net/shar-2024/budgets.db
Формат ввода

Ваше решение должно содержать только скрипт, написанный на языке SQL (диалект SQLite), работающий с базой данных budgets.db.
Формат вывода

Запрос должен осуществлять выборку по двум столбцам:

    название компании;
    значение требуемой величины (см. условие).

Данные должны быть отсортированы по возрастанию столбца, содержащего название компании. Названия столбцов могут быть произвольными, важно лишь, чтобы их было ровно два и они следовали в вышеуказанном порядке.
Примечания

Ваш запрос будет запущен на различных тестовых данных. Для базы данных budgets.db из примера для отладки выводимый результат должен быть таким:
name 	budget
ACME Corporation 	2120
Global Industries 	200
Innovate Co. 	300
Tech Solutions 	150
Ли 	130
Потеряшкин 	
Ямамото 	440

In [ ]:

D. Успеть до дедлайна
Ограничение времени 	1 секунда
Ограничение памяти 	64.0 Мб
Ввод 	стандартный ввод или input.txt
Вывод 	стандартный вывод или output.txt

Вы тимлид команды аналитиков-разработчиков. У вас есть список из NN проектов p1,p2,…,pNp1​,p2​,…,pN​, каждый из которых состоит из KiKi​ задач (0⩽i⩽N0⩽i⩽N). К сожалению, почти все специалисты в команде загружены, поэтому указанные проекты надо закрыть за TT дней ресурсом одного аналитика-разработчика. Вам необходимо подобрать уровень специалиста, который необходим для выполнения данных задач.

Найдите минимальную скорость MM выполнения задач — количество задач, которые должен решать аналитик каждый день, чтобы закрыть проекты до дедлайна.

Для решения задачи напишите программу на языке Python.
Формат ввода

В первой строке вводится количество дней TT до дедлайна (0<T⩽1050<T⩽105).

Во второй строке через пробел вводится количество задач KiKi​ для каждого проекта pipi​ (0⩽i⩽N0⩽i⩽N, 0<N⩽1060<N⩽106). Гарантируется, что N⩽TN⩽T.
Формат вывода

Выведите натуральное число MM — минимальную скорость выполнения задач аналитиком-разработчиком.
Пример 1
Ввод
Вывод

20
9 3 12

	

2

Пример 2
Ввод
Вывод

10
1 16 13 10 3 16 6 5 16

	

16

Примечания

Работникам умственного труда сложно переключаться между проектами, поэтому аналитик-разработчик не переходит к новому проекту до тех пор, пока не закончит работу над текущим. Если в текущем проекте осталось менее MM задач, аналитик-разработчик выполнит их и будет отдыхать до конца дня, а к новому проекту приступит на следующий день.

In [ ]:

E. Развлечение аналитика
Ограничение времени 	3 секунды
Ограничение памяти 	256.0 Мб
Ввод 	стандартный ввод или input.txt
Вывод 	стандартный вывод или output.txt

Аналитики-разработчики любят активные игры. Например, иногда они с завязанными глазами по очереди случайно подбрасывают палку длины LL, находясь в центре прямоугольного офисного двора, вымощенного квадратными плитками размера M×MM×M встык без зазоров.

Найдите вероятность того, что палка пересечет вертикальную и горизонтальную границы между плитками.
Формат ввода

На первой строке вводится вещественное число — размер палки LL (0<L<M⩽1050<L<M⩽105).

На второй строке вводится вещественное число — размер плитки MM (0<M<⩽1050<M<⩽105).
Формат вывода

Выведите одно число — искомую вероятность.
Пример
Ввод
Вывод

0.3
1

	

0.02864788975654116

Примечания

В данной задаче допускается приближенное решение, оно будет оценено частичным баллом в зависимости от достигнутой точности.

In [ ]:

F. Первый выброс
Ограничение времени 	1 секунда
Ограничение памяти 	256.0 Мб
Ввод 	стандартный ввод или input.txt
Вывод 	стандартный вывод или output.txt

Аналитик Вова хочет научиться детектировать выбросы в значениях некоторой метрики. Метрика представляет собой временной ряд с NN отсчетами (значениями метрики за NN дней). Выбросом Вова считает значение, которое строго больше, чем не менее 90% значений за все предыдущие дни. Известно, что в первые К дней выброса точно не было.

Напишите программу на языке Python, которая поможет Вове найти день первого выброса.
Формат ввода

В первой строке записано число MM (1⩽N⩽1061⩽N⩽106).

Во второй строке записано число KK (1⩽K⩽N1⩽K⩽N).

В третьей строке через пробел записаны NN целых чисел со значениями метрики.
Формат вывода

Выведите одно целое число xx (K⩽x⩽NK⩽x⩽N) – номер первого дня, в котором значение метрики оказалось строго больше, чем не менее 90% значений за все предыдущие дни. Если такого дня нет, необходимо вывести −1−1.
Пример 1
Ввод
Вывод

1
1
10

	

-1

Пример 2
Ввод
Вывод

2
1
10 11

	

2

Пример 3
Ввод
Вывод

2
2
10 11

	

-1

Пример 4
Ввод
Вывод

12
6 
10 20 30 40 50 60 10 10 10 10 51 83